
*.dat
*.txt
*-workspace
/old/*
/.vscode/*
/.idea/*
*/__pycache__/*
/.eggs/*
.DS*
*-checkpoint.py
*.err
*.out
/arts-catalogs/*
/auxdata/*
/scattering_data/*xml*
*.pdf
examples/cache
examples/__pycache__
examples/*.xml
*egg-info*
/src/FluxSimulator/__pycache__
/sims/*